/* Header */
.header {
  margin-top: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.header__main {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px;
  border-radius: 40px;
  background-color: #fff;
}
.header__logo img {
  height: 30px;
  width: auto;
}
.header__menu ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.header__menu li {
  margin-left: 25px;
}
.header__menu a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}
.header__menu a:hover {
  color: var(--color-two);
}
.header__menu--active {
  color: var(--color-two);
}
.header__icon-mobi {
  display: none;
}
@media (max-width: 991.98px) {
  .header__menu {
    display: none;
  }
  .header__icon-mobi {
    display: block;
    font-size: 22px;
    cursor: pointer;
  }
}

@media (max-width: 991.98px) {
  .header__menu {
    display: none;
  }
  .header__icon-mobi {
    display: block;
    font-size: 22px;
    cursor: pointer;
  }
}
/* End Header */
/* Banner Main*/
.banner-main {
  background-image: url("../images/banner-bg.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-main__wrap {
  text-align: center;
  max-width: 600px;
  /* margin : 0 auto thi auto can giua phan tu */
  margin: 0 auto;
}
.banner-main__wrap a {
  text-decoration: none;
}
.banner-main__title {
  font-size: 32px;
  color: #fff;
  margin-bottom: 30px;
}
.banner-main__desc {
  color: #fff;
  font-size: 15px;
}
@media (max-width: 767.98px) {
  .banner-main__title {
    font-size: 20px;
  }
  .banner-main__desc {
    font-size: 13px;
  }
}

/* End Banner Main*/
/* Box Hightlight */
.box-hightlight {
  margin-top: -220px;
}
.box-hightlight__box {
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 12px;
  padding: 30px;
  text-align: center;
  margin-bottom: 30px;
}
.box-hightlight__icon {
  background-color: var(--color-one);
  width: 80px;
  height: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 20px;
}
.box-hightlight__icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.box-hightlight__box:hover .box-hightlight__icon {
  background-color: var(--color-two);
}
.box-hightlight__title {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 15px;
}
.box-hightlight__desc {
  font-size: 13px;
  color: #777;
  margin-bottom: 0;
}
@media (max-width: 991.98px) {
  .box-hightlight {
    margin-top: 0;
  }
}

/* End Box Hightlight */
/* Banner Text */
.banner-text {
  margin-top: 80px;
  margin-bottom: 80px;
}
.banner-text__image {
  text-align: center;
}
.banner-text__image img {
  max-width: 100%;
  height: auto;
}
.banner-text__title {
  font-size: 28px;
  margin-bottom: 25px;
}
.banner-text--bottom {
  border-bottom: 1px solid #ddd;
  padding-bottom: 80px;
  margin-bottom: 80px;
}
.banner-text__desc {
  font-size: 18px;
  color: #777;
}
@media (max-width: 991.98px) {
  .banner-text__image {
    margin-bottom: 30px;
  }
}

/* End Banner Text */
/* Work Process */
.work-process {
  background-image: url("../images/work-process-bg.png");
  padding: 80px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.95;
}
.work-process__box {
  margin-top: 15px;
  display: block;
  background-color: #fff;
  text-align: center;
  padding: 18px;
  border-radius: 15px;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 20px;
}
.work-process__box:hover {
  margin-top: -5px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}
.work-process__box::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #fff;
  width: 100%;
  opacity: 0.15;
  height: 100%;
  bottom: -10px;
  left: 0px;
  right: -20px;
  margin: auto;
  border-radius: 20px;
}
.work-process__title {
  margin-top: 16px;
  font-size: 17px;
  font-family: 700;
}
.work-process__desc {
  font-weight: 400;
  font-size: 16px;
  color: #777;
}

.work-process .box-head {
  color: #fff;
}

/* End Work Process */
/* They Say */
.they-say {
  padding: 80px 0;
  background-color: #ffffff;
}
.they-say__box {
  text-align: center;
  background-color: #f4f1f1;
  padding: 25px;
  border-radius: 20px;
  margin-top: 20px;
}
.they-say__box:hover .author .author-desc {
  margin-left: 15px;
  transition: all 0.5s ease 0s;
}
.they-say__image {
  padding-bottom: 30px;
}
.they-say__desc {
  text-align: left;
  font-size: 15px;
  color: #777;
  margin-bottom: 25px;
  letter-spacing: 0.6px;
  padding: 0;
}
.they-say__author {
  display: flex;
  align-items: center;
}
.they-say__author-image {
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin-right: 15px;
}
.they-say__author-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.they-say__author-desc {
  text-align: left;
}
.they-say__author-name {
  margin-bottom: 0;
}
.they-say__author-office {
  font-size: 15px;
  color: var(--color-two);
}

/* End They Say */
/* Pricing Plans */
.pricing-plans {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #F2F2FE;
}
.pricing-plans__box {
  background-color: #fff;
  text-align: center;
  padding: 30px;
  border-radius: 30px;
  margin-top: 30px;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}
.pricing-plans__box ul {
  list-style-type: none;
  padding: 0;
}
.pricing-plans__box ul li {
  font-size: 12px;
  margin-bottom: 8px;
}
.pricing-plans__price-box {
  background-color: var(--color-one);
  padding: 16px;
  margin: 20px 0;
  color: #fff;
  border-radius: 20px;
}
.pricing-plans__price-box--price {
  font-size: 28px;
}
.pricing-plans__price-box--time {
  font-size: 14px;
}

/* End Pricing Plans */
/* Hightlight Number */
.hightlight-number {
  background-image: url("../images/fun-facts-bg.png");
  padding: 80px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hightlight-number__box {
  position: relative;
  height: 100px;
}
.hightlight-number__box::before {
  content: "";
  background-image: url("../images/circle-dec.png");
  display: block;
  width: 100px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  top: 45%;
}
.hightlight-number__box:hover .hightlight-number__content {
  transform: translateY(-10px);
  transition: all 0.3s ease 0s;
}
.hightlight-number__content {
  color: #fff;
  transform: translateY(0);
}
.hightlight-number__number {
  font-size: 32px;
  font-weight: 700;
}
@media (max-width: 991.98px) {
  .hightlight-number__box::before {
    display: none;
  }
  .hightlight-number__box {
    text-align: center;
    margin: 10px 0;
  }
}

/* End Hightlight Number */
/* Blog Entries */
.blog-entries {
  padding-top: 80px;
  padding-bottom: 80px;
}
.blog-entries__box {
  margin-bottom: 30px;
}
.blog-entries__box a {
  text-decoration: none;
}
.blog-entries__image {
  width: 100%;
  aspect-ratio: 16/9;
}
.blog-entries__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-entries__content {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}
.blog-entries__title {
  font-size: 20px;
  margin-bottom: 10px;
}
.blog-entries__desc {
  font-size: 13px;
}
@media (max-width: 767.98px) {
  .blog-entries__image {
    width: 100%;
    aspect-ratio: 16/9;
    max-width: 370px;
    margin: 0 auto;
  }
}

/*End Blog Entries*/
/* Talk To Us */
.talk-to-us {
  background-color: #F2F2FE;
  padding: 80px 0;
}
.talk-to-us__title {
  font-size: 20px;
}
.talk-to-us__form input, .talk-to-us__form textarea {
  border-radius: 25px;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  background-color: #fff;
  outline: none;
}
.talk-to-us__form input:focus, .talk-to-us__form textarea:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.talk-to-us__form input {
  height: 50px;
}
.talk-to-us__form textarea {
  height: 150px;
}

/*End Talk To Us */
/* Footer */
.footer {
  padding-top: 30px;
  background-image: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
}
.footer__socials {
  margin-top: 10px;
  text-align: center;
}
.footer__socials ul {
  list-style: none;
}
.footer__socials ul li {
  display: inline-block;
  margin-right: 20px;
}
.footer__socials ul li a {
  display: inline-flex;
  color: #8261ee;
  background-color: #fff;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 50%;
}
.footer__socials ul li:hover a {
  text-decoration: none;
  background-color: var(--color-two);
  color: #fff;
  transition: all 0.3s ease 0s;
}
.footer__copyright {
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 30px;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  margin-top: 25px;
  padding-top: 25px;
}

/* End Footer */

/*# sourceMappingURL=style.css.map */
